@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-self: flex-start;
    font-family: 'OpenSans', sans-serif;
}   
.navPanel{
    position: fixed;
    width: 15%;
    height: 100vh;
    background-color: lightgreen;
}
.recepiesPanel{
    width: 85%;
    background-color: lightyellow;
}

