@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');


*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: grid;
    grid-template-rows:    repeat(4, 25%s);
    grid-template-columns: 10% 90%;
    font-family: 'OpenSans', sans-serif;
}   
.navPanel{
    height: 100vh;
    background-color: lightgreen;
}
.recepiesPanel{
    background-color: lightyellow;
}

