/* TODO: Ostylować odpowiednio item */

.important{
    background-color: #E57373;
}
.normal{
    background-color: #81C784;
}
.lowPriority{
    background-color: #64B5F6;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;  
}

.important, .normal, .lowPriority{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
.taskNameUnDone{
    text-decoration: none;
}
.taskNameDone{
    text-decoration: line-through;
}
.btn{
    padding: 5px;
    margin: 5px;
    height: 20px;
    background-color: honeydew;
    border: none;
}