.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputField{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #818181;
    outline: 0;
    margin-right: 15px;
    font-size: 17px;
    padding-top: 10px;
}
.labelField{
    position: absolute;
    left: 0;
    top:0;
    font-size: 12px;
    color: #007BFF;
    transition-duration: .3s;
}
.inputField:placeholder-shown ~ .labelField{
    color: transparent;
    top: 10px;
}
.inputField:focus{
    border-bottom: 2px solid #007bff;
}

.icon{
    max-width: 30px ;
    transition: transform .5s;
    transform: rotate(45deg);
}
.icon:hover{
    transform: scale(1.1) rotate(-45deg);
}
.btn{
    border: none;
    background: none;
    cursor: pointer;
}