.wrapper{
    background-color: rgb(204, 203, 203);
    max-width: 20%;
    border: 1px solid #9e9e9e;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.image{
    max-width: 100%;
}
.title{
    margin: 10px 0 0;
    padding: 0 5px;
}
.difficultyLevel{
    margin: 5px 0;
    padding: 0 5px;
}

.difficultyTitle, .descriptionTitle, .ingredientsTitle{
    font-weight: bold;
    margin: 5px 0 0;
}
.ingredients, .description{
    padding: 0 5px;
}