.wrapper{
    background-color: #ecf0f1;
    max-width: 30%;
    margin-bottom: 25px;
    border: 1px solid #9e9e9e;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    
}
.itemContent{
    padding: 0 10px;
}

.image{
    max-width: 100%;
}
.title{
    padding: 10px 0 0;
}
.title::first-letter {
    text-transform: uppercase;
  }
.categoryAndLevel{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.category{
    margin-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.icons{
}
.time{
    display: flex;
    margin-top: 5px;
}
.clockIcon{
    max-width: 25px;
    margin-right: 5px;
}
.starIcon{
    max-width: 15px;
    margin-left: 5px;
}
.ingredients{
    margin-top: 5px;
}
.ingredientsTitle{
    font-weight: bold;
}
.itemBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.moreBtn, .addBtn{
    border: none;
    background: none;
    cursor: pointer;
}
.moreBtn{
    font-weight: bold;
    font-size: 1.1rem;
    color: #c0392b;
    padding: 0 10px;
    margin: 20px 0 5px;
}
